{% extends "../../store/base.html" %}
{% block title %}Reset Confirm{% endblock %}

{% if request.user.is_authenticated %}
<script>
    window.location.href = '{% url "account:dashboard" %}'
</script>
{% endif%}

{% block content %}
<div class="container-fluid">
    <div class="row no-gutter">
        <div class="col-md-12">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-7 mx-auto px-4 pt-4">

                            <h1 class="h2 mb-4">Change your password</h1>
                            <p class=>Use the form below to change your Password</p>

                            <form class="account-form rounded mx-auto" action="." method="post">
                                {% if form.errors %}
                                <div class="alert alert-primary" role="alert">
                                    Error: Please try again!
                                </div>
                                {% endif %}
                                {% if form.errors %}
                                <p>Please correct the following errors</p>
                                {% for field in form %}
                                {% if field.errors %}
                                <div class="alert alert-primary" role="alert">
                                    {{ field.label }}: {{ field.errors|striptags }}
                                </div>
                                {% endif %}
                                {% endfor %}
                                {% endif %}
                                {% csrf_token %}
                                <label class="small font-weight-bold">{{ form.new_password1.label }}</label>
                                {{ form.new_password1 }}

                                <label class="small font-weight-bold">{{ form.new_password2.label }}</label>
                                {{ form.new_password2 }}
                                <button type="submit" class="btn btn-primary btn-block mt-4 w-100">Submit</button>
                                <p class="text-center mt-4 "><a class="p-4" href="{% url 'account:login' %}">Already
                                        have an account?</a>
                                </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}