{% extends "../../store/base.html" %}
{% block title %}Reset Password{% endblock %}

{% if request.user.is_authenticated %}
<script>
    window.location.href = '{% url "account:dashboard" %}'
</script>
{% endif%}

{% block content %}
<div class="container-fluid">
    <div class="row no-gutter">
        <div class="col-md-12">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-7 mx-auto px-4 pt-4">

                            <h1 class="h2 mb-4">Forgotten your password?</h1>
                            <p class=>Enter your email to obtain a new password</p>

                            <form class="account-form rounded mx-auto" action="{% url 'account:pwdreset' %}"
                                method="post">
                                {% if form.errors %}
                                <div class="alert alert-primary" role="alert">
                                    Error: Please try again!
                                </div>
                                {% endif %}
                                {% csrf_token %}
                                {{ form.email.label }}
                                {{ form.email }}
                                <button type="submit" class="btn btn-primary btn-block mt-4 w-100">Reset
                                    Password</button>
                                <p class="text-center mt-4 "><a class="p-4" href="{% url 'account:login' %}">Login</a>
                                </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}