.container {
  max-width: 1200px;
  padding: 0 1.5rem;
  margin: auto; }

.btn-main, .btn-light, .btn-dark {
  display: inline-block;
  padding: 0.8rem 2rem;
  transition: all 0.5s;
  border: none;
  cursor: pointer; }

.btn-main {
  color: #333;
  background-color: #CF8C52; }

.btn-light {
  color: #333;
  background-color: #f4f4f4; }

.btn-dark {
  color: #f4f4f4;
  background-color: #333; }

button[class^='btn-']:hover,
a[class^='btn-']:hover,
input[class^='btn-']:hover {
  background-color: #CF8C52; }

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem; }

.text-center {
  text-align: center; }

.nav-modal.visibleDisplay {
  display: block; }

.nav-modal.visibleOpacity {
  opacity: 1; }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Dosis', sans-serif;
  line-height: 1.6;
  background: #f4f4f4; }

a {
  text-decoration: none;
  color: #333; }

ul {
  list-style: none; }

h2, h3, h3 {
  text-transform: uppercase; }

img {
  width: 100%; }

#logo {
  width: 70px;
  height: 70px; }

header {
  background: #fff;
  padding-bottom: 0;
  padding-top: 1rem; }
  header #main-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    header #main-nav ul.nav-list {
      display: flex;
      align-items: center;
      margin: 0;
      padding: 0; }
      header #main-nav ul.nav-list li {
        position: relative; }
        header #main-nav ul.nav-list li a {
          display: flex;
          flex-direction: row;
          align-items: center; }
    header #main-nav i {
      margin-right: 0.5rem; }
    header #main-nav a {
      text-decoration: none;
      color: #333;
      padding: 10px;
      margin: 0;
      transition: color 0.3s; }
      header #main-nav a:hover {
        color: #CF8C52; }
  header #nav-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    header #nav-bottom .open-slide a {
      width: 30px;
      height: 30px;
      border: none;
      position: relative; }
      header #nav-bottom .open-slide a svg {
        position: absolute;
        top: 0;
        left: 0; }
    header #nav-bottom ul {
      display: flex;
      flex-direction: row; }
    header #nav-bottom a {
      float: left;
      display: block;
      color: black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      border-bottom: 2px solid transparent; }
      header #nav-bottom a:hover {
        border-bottom: 2px solid #CF8C52; }
    header #nav-bottom .small-screen {
      display: none;
      width: 100%; }
      header #nav-bottom .small-screen div {
        display: flex;
        flex-direction: row;
        align-items: center;
        border: none; }
        header #nav-bottom .small-screen div a:hover {
          border: none; }

nav .search-bar {
  flex: auto; }
  nav .search-bar .input-wrapper {
    margin-left: 1rem; }
    nav .search-bar .input-wrapper input {
      width: 300px;
      border-radius: 50px;
      background-color: #f4f4f4;
      border: 1px solid #ccc;
      padding: 10px;
      left: 0px; }
      nav .search-bar .input-wrapper input:focus {
        outline: none;
        border: 1px solid #777; }

nav .search-bar.top {
  display: block; }

nav .search-bar.bottom {
  display: none; }

nav .search-bar.bottom {
  width: 100%;
  flex: 2; }

.nav-modal {
  display: none;
  opacity: 0; }

.modal-utility {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 50px;
  top: -25px;
  right: 0px; }

.small-modal {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  background: #fff;
  border-radius: 5px;
  border: 0.5px solid #ccc;
  top: 45px;
  right: 0px;
  padding: 1rem; }
  .small-modal .shape {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #fff;
    border: 0.5px solid #ccc;
    transform: rotate(45deg);
    top: -10px;
    right: 50px;
    border-right: none;
    border-bottom: none; }

#header-home {
  background: url("../img/showcase.jpg") no-repeat center right/cover;
  height: 100vh;
  color: #fff; }
  #header-home .header-content {
    text-align: center;
    padding-top: 20%; }
    #header-home .header-content h1 {
      font-size: 4rem;
      line-height: 1.2; }

.products-section {
  display: block;
  margin: 0 auto;
  padding: 2rem; }
  .products-section .products-grid {
    padding: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    justify-content: center; }

.product-tile {
  display: inline-block; }
  .product-tile .product-tile-clickable {
    padding: 1rem 24px;
    width: 200px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    background-color: #fff;
    color: #333; }
    .product-tile .product-tile-clickable > * {
      text-align: center; }
    .product-tile .product-tile-clickable .tile-image img {
      width: 200px;
      height: 200px; }

.card {
  width: 270px;
  height: 433; }

#cart-button i {
  position: relative; }
  #cart-button i #cart-qty {
    position: absolute;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Dosis";
    left: 10px;
    top: 8px;
    background-color: #CF8C52;
    color: #fff;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    display: none; }

form label {
  display: block; }

@media (max-width: 800px) {
  #header-home {
    height: 30rem; }
    #header-home .header-content {
      padding-top: 5rem; }
  .search-bar.top {
    display: none !important; }
  .search-bar.bottom {
    display: block !important; }
  #main-nav a {
    padding: 0.5rem; }
  #main-nav span {
    display: none; }
  #nav-bottom .large-screen {
    display: none; }
  #nav-bottom .small-screen {
    display: inline-block !important; }
  header {
    padding: 1rem 0; } }
