// Variables
$website-width: 1100px;

// Colors
$main-color: #CF8C52;
$medium-color: #ccc;
$border-focus-color: #777;
$dark-color: #333;
$light-color: #f4f4f4;
$bg-image: url('../img/showcase.jpg');
$opacity-transition: opacity 3000ms;