{% extends "../base.html" %} {% block title%}{{ product.title }}{% endblock %}
{% block content %} {% load static %}
<div class="container">
  <main class="pt-5">
    <div class="row g-3">
      <div class="col-md-5 col-lg-5 order-md-first bg-light">
        <img
          src="{{ product.image.url }}"
          alt="product-image"
          class="img-fluid d-block mx-auto"
          width="200px"
        />
      </div>
      <div class="col-md-7 col-lg-7 ps-md-3 ps-md-3 ps-lg-5">
        <h1 class="mb-0 h4">{{ product.title }}</h1>
        <p><span class="lead">{{ product.author }}</span> (Author)</p>
        <p>{{ product.description|slice:":355"}}...</p>
        <div class="border bg-light">
          <div class="col border-bottom">
            <div class="row p-3">
              <div class="col-6">{{ product.category }}</div>
              <div class="col-6 text-end">
                <span class="h4 fw-bold">${{ product.price }}</span>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="row p-3">
              <div class="col-6">
                <label for="select">Qty</label>
                <select id="select">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
              </div>
              <div class="col-6 text-end">
                <button
                  type="button"
                  id="add-button"
                  value="{{ product.id }}"
                  class="btn btn-secondary btn-md"
                >
                  Add to cart
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

<script>
  $(document).on("click", "#add-button", function (e) {
    e.preventDefault();
    $.ajax({
      type: "POST",
      url: '{% url "basket:basket_add" %}',
      data: {
        csrfmiddlewaretoken: "{{csrf_token}}",
        productid: $("#add-button").val(),
        qty: $("#select").val(),
        action: "post",
      },
      success: function (json) {
        oldQty = parseInt(document.getElementById("cart-qty").value);
        newQty = oldQty + parseInt(json.qty);
        document.getElementById("cart-qty").value = newQty;
        $("#cart-qty").trigger("change");
      },
      error: function (xhr, errsmg, err) {},
    });
  });
</script>

{% endblock %}
